.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffffff 0%, #dbe8d6 45%, #bedbb0 100%);
}

.content {
  width: 100%;
  max-width: 335px;
  padding: 20px;
  text-align: center;
}

/* 🔥 HERO SABİT */
.hero {
  display: block;
  width: 222px;
  height: auto;
  margin: 0 auto 24px;
}

/* TEXT */
.description {
  margin: 0 auto 48px;
  color: #161616;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* BUTTON */
.primaryBtn {
  width: 100%;
  height: 49px;
  border: none;
  border-radius: 8px;
  background-color: #161616;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.linkBtn {
  margin-top: 14px;
  border: none;
  background: transparent;
  color: #161616;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .content {
    max-width: 473px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .content {
    max-width: 473px;
  }
}